 {% load crispy_forms_tags %}

    <style>
    .navbar-default {
    background: none;
    border: none;
}

</style>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">       
          <a class="navbar-brand" href="/">Weather</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <form class="form-inline" method='POST' action='.'> {% csrf_token %}
              <div class="form-group">
                {{ form | crispy }}
                <!-- <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location"> -->
                
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
